html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: rgb(156, 148, 148);
}
form {
  width: 400px;
  margin: 20% auto;
}
.input-name {
  width: 300px;
  font-size: 24px;
  padding: 14px;
  border-radius: 20px;
  border: solid 1px;
}
.description {
  display: flex;
  justify-content: space-between;
}
.headline {
  font-weight: bold;
}
